@import "reset.css";

.warp {
    min-width: 320px;
    max-width: 750px;
    overflow-x: hidden;
    margin: 0 auto;
}

.content {
    margin-bottom: 3rem;
}

.contentList {
    margin-bottom: 1rem;
}

.tit-img {
    height: 4.0rem;
    overflow: hidden;
}

.tit_img {
    width: 94%;
    margin-left: 3%;
}

.table {
    width: 94%;
    margin-left: 3%;
}

#list tr {
    height: 1.35rem;
    line-height: 1.35rem;
    color: #888;
}

.sec, .sec option {
    border: none;
}

#list tr input[type=text] {
    border: none;
}

.bg {
    background: #E6F3F9;
}

.tab {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.0rem;
    line-height: 2.0rem;
    border-top: 1px solid #e6e5e6;
    background: #fff;
}

.tab li {
    display: inline-block;
    width: 32.7%;
    text-align: center;
    font-size: 0.65rem;
}

.activeTab {
    font-size: 0.7rem;
    color: rgb(253, 82, 129);
}

.btn {
    width: 94%;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.65rem;
    text-align: center;
    margin-left: 3%;
    color: #FFFFFF;
    background-color: #1AAD19;
}